extend layout

block content
  div.main
    img(src="/assets/images/tirachard.jpg", alt="Main image of the blog app", srcset="").main-img
    div.lead
      h1 Where good ideas find you
      h2 Read and share new perspectives on just about any topic. Everyone’s welcome.
    a(href='/posts/create').btn-create Create post